@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Righteous&family=Source+Sans+Pro:wght@700&display=swap');
@import url('/css/clock.css');
@import url('/css/toast.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'); /*  */

/* Google fonts:
font-family: 'Lora', serif;
font-family: 'Righteous', cursive;
font-family: 'Source Sans Pro', sans-serif;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 240, 240);
  margin: 0;

  background-image: url('/images/bglava.jpg');
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;

  font-family: 'Lora', serif;
  font-size: 17px;
  line-height: 200%;

  /* Sticky footer */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;   /* Sticky footer */
}

main {
  width: 80%;
  max-width: 650px;
  margin: 0px auto;
  background: white;
  opacity: 0.9;
  border: 2px solid red;
  border-radius: 20px; 
}

main img {
  border: 2px black;
  border-radius: 20px; 
}

header {
  background-color: rgb(245, 65, 65);
  margin-bottom: 20px;
  font-family: 'Righteous', cursive;
  font-size: 24px;
}

.header-title {
  font-family: 'Orbitron', sans-serif;
  font-size: 40px;
  color: white;
  text-align: center;
  letter-spacing: 4px
}

.topnav {
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  justify-content: center;
  display:flex;
  flex-direction: row;
}

.topnav a {
  display: inline-block;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

.topnav .active {
  color:#cfd8dc;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

footer {
  color: black;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  border-top: 2px solid white;
  background-color: rgb(245, 65, 65);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  color: red;
  font-size: 40px;  
}

.city {
  display: inline-block;
}

img {
  width: 100%;
}

img.halfSize {
  width: 50%;
  opacity: 1;
  display: inline;
}

.fav-card {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly; 
  align-items: stretch;      
  flex-wrap: wrap;

  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: -4px 4px #888888;
}

.fav-info-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.flexbox-item1 {
  border: 2px solid purple;
}

.fav-clock-item {
  padding: 0 10px;
}

.fav-info-item {
  align-self: stretch;
  flex-grow: 1;
}

.fav-button-item {
  flex-grow: 1;
  align-self: flex-end;
}

.fav-dig-clock-item {
  flex-shrink: 1;
  align-self: flex-start;
}

.bold {
  font-weight: bold;
}

article {
  padding: 20px;
}

.timezonedetails-container {
  display: flex;
  flex-direction: column;
}

.timezone-details-top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.timezonedetails-middle-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
}

.timezonedetails-middle-item {
  flex-grow: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timezonedetails-image {
  max-width: 320px;

}

.timezones article {
  border-bottom: 1px solid black;
  padding: 10px 20px;
}

.timezones article:hover {
  background-color: #ddd;
}

.favInfo {
  background: aqua;
  font-size: 30px;
}

/* ### Search bar ### */
#searchform {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  width: 350px;
}

#query {
  width: 100%;
  height: 44px;
  font-size: 20px;  
}

#query:focus {
  outline: red outset 2px;
}

#query-button {
  margin-left: 2px;
  height: 44px;
  width: 44px;
  font-size: 20px;
}

.fe {
  font-size: 40px;
}

/* ### Add Custom Timezone popup*/
/* Inspired by: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_popup_form */
/* Button used to open the contact form - fixed at the bottom of the page */



/* Overlay outside popup - default: hidden*/
.form-popup-bgoverlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index: 15;  /* Must be higher than clocks */
}

/* The popup form */
.form-popup {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 3px solid #f1f1f1;
  opacity: 1;
  border-radius: 20px;
  border: 2px solid red;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 0px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* Input error message */
.addcustom-error-message {
  visibility: hidden;
  color: red;
  font-size: small;
  margin: 0;
}


/* ### Buttons ### */
/* https://getcssscan.com/css-buttons-examples */
.button-fav {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-addfav {
  float: inline-end;
}

.button-remove {
  align-self:flex-end;
  justify-self: end;
}


.button-fav:hover,
.button-fav:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-fav:hover {
  transform: translateY(-1px);
}

.button-fav:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.fab {
  width: 70px;
  height: 70px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  font-size: 50px;
  font-weight: bolder;
  line-height: 70px;
  color: white;
  text-align: center;
  position: fixed;
  right: 50px;
  bottom: 50px;
  transition: all 0.1s ease-in-out;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}

.fab:active {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

/* Responsive changes */
@media screen and (max-width: 600px) {
  h1 { 
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  .topnav {
    flex-direction: column;
  }
}