<article>
  <h1>Favourites</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut dolor saepe perferendis rem officiis a
    autem quibusdam assumenda tempora est nam ullam, repellendus cum iusto repudiandae amet dolorem magnam.</p>
  <p>Corporis quasi repellendus omnis at nobis commodi libero nesciunt tenetur velit ad rem, esse reprehenderit
    culpa
    quisquam itaque impedit autem quos laborum ut! Quis quidem exercitationem quas ratione hic autem.</p>
  <p>Necessitatibus voluptates possimus velit labore. Rerum fuga possimus dicta doloremque laborum tenetur quam quae
    dignissimos ut natus placeat perferendis vitae molestias quis voluptatem ab eum, aut nam expedita, cum
    consequuntur.</p>

</article>