<article>
  <h1>Welcome!</h1>
  <p>This page allows you to view the timezones of the world! With hundreds of available locations, you will for sure
    find a place of your liking!</p>
  <p>Under <strong>TimeZones</strong>, search for a well-known city to learn a little, take a little peek of a picture
    and to store the clock as a favourite.</p>
  <p>To view your stored timezones, go to <strong>Favourites</strong> to find your own personal list. Did your city not
    appear in the search? You can still keep track of your timezone by adding your custom timezone. </p>
</article>